<div class="about-page">
	<div class="small-container">
		<div class="under-construction">
			<div class="under-construction-image" style="background-image: url('<%= discover_image('icons/under_construction.png') %>');"></div>
		</div>
		<div class="introduction">
			<h2>About me</h2>
			I'm student from Carnegie Mellon pursuing a degree in Information Systems. 

			My interests lie in creating beautiful, intuitive interfaces and scalable, usable software.
			<div class="resume">
				<%= link_to("Link to my resume!", discover_image('fliao_resume.pdf'), target: "_blank") %>
			</div>

			<h2>About this site</h2>
			This site is built from scratch, with 0 HTML templates, 0 CSS frameworks, and 0 JS libraries (-JQuery). 

			I believe in minimal third-party influence, because every interface and framework achieves perfection through hard work and innovation!




		</div>
		<!-- <div class="frontend title">Frontend</div>
		<div class="frontend content">
			<div class="">
			</div>
			<div class="visual">
			</div>
		</div>
		<div class="backend title">Backend</div>
		<div class="backend content">
			<div class="">
			</div>
			<div class="visual">

			</div>
		</div>
		<div class="data title">Way Backend (Data)</div>
		<div class="data content">
			<div class="">
			</div>
			<div class="visual">

			</div>
		</div> -->
		
	</div>
</div>