<div class="about-page">
	<div class="large-container">
		<div class="introduction">
			I'm interested in creating beautiful, intuitive interfaces and scalable, usable software.
		</div>
		<div class="frontend title">Frontend</div>
		<div class="frontend content">
			<div class="">
			</div>
			<div class="visual">
			</div>
		</div>
		<div class="backend title">Backend</div>
		<div class="backend content">
			<div class="">
			</div>
			<div class="visual">

			</div>
		</div>
		<div class="data title">Way Backend</div>
		<div class="data content">
			<div class="">
			</div>
			<div class="visual">

			</div>
		</div>
		<div class="resume">

		</div>
	</div>
</div>