<style>
	#wrapper {
		position: static;
		padding: 0;
		margin: 0;
	}
</style>
<div class="home-intro">
	<div class="name">Frank Liao</div>
	<div class="title">Full Stack Developer / Designer</div>
</div>
<div class="i-am" style="display: none;">
	I am a <div class="title">Tech Enthusiast</div>
	<div class="details"></div>
</div>
<div class="home-navigation"></div>