<div class="project-card">
	<div class="project-cover">
		<a class="cover-link" onclick='console.log("not opening a modal...");'></a>
		<div class="cover-image" style="background-image: url(http://i.imgur.com/klHiCqE.png);">
		</div>
		<div class="cover-overlay">
			This is a sample overlay
		</div>
	</div>
	<div class="project-meta">
		<div class="meta-left">
			<h3 class="meta-title">
				A&M Chess Store Site
			</h3>
			<h5 class="meta-subtitle">
				Ruby on Rails project (67-272)
			</h5>
		</div>
		<div class="meta-right">
			<div class="meta-skills">
				<div class="meta-skill">
					<div class="skill-image" style="background-image: url(http://i.imgur.com/8fwdKvF.png)"></div>
					<div class="skill-label">HTML5</div>
				</div>
				<div class="meta-skill">
					<div class="skill-image" style="background-image: url(http://i.imgur.com/NgOEccb.png)"></div>
					<div class="skill-label">Javascript</div>
				</div>
				<div class="meta-skill">
					<div class="skill-image" style="background-image: url(http://i.imgur.com/IrP3Fci.png)"></div>
					<div class="skill-label">CSS3</div>
				</div>
			</div>
		</div>
	</div>
</div>
