<div class="project-list">
    <% for @project in @projects %>
    	<div class="project-block" id="<%= @project.title.gsub(' ', '-') %>">
	        <%= render 'project_card' %>
	    </div>
    <% end %>
</div>